
  
  #total-value {
    margin: 20px 0;
    font-size: 15px;
  }
  
  #total-value span {
    background-color: #e7f3fe;
    padding: 2px 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  
  .animate-total {
    animation: flash 1s;
  }
  
  @keyframes flash {
    0% {background-color: #e7f3fe;}
    50% {background-color: #a8d1ff;}
    100% {background-color: #e7f3fe;}
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    flex-direction: column;
    min-width: 400px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

}

.ticket {
    position: relative;
    background-color: #c9dea7;
    background-image: url("../icons/hand-card-glass.jpeg");
    width: 280px;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.ticket::before,
.ticket::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 50%;
    transform: translateY(-50%);
}

.ticket::before {
    left: -15px;
    box-shadow: 
        inset -10px 0 10px -10px rgba(0, 0, 0, 0.2),
        1px 0 5px -3px rgba(0, 0, 0, 0.3);
}

.ticket::after {
    right: -15px;
    box-shadow: 
        inset 10px 0 10px -10px rgba(0, 0, 0, 0.2),
        -1px 0 5px -3px rgba(0, 0, 0, 0.3);
}

.ticket-content {
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    padding: 20px 0;
    text-align: center;
}

h2 {
    margin-top: 0;
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    background-color: #d6efd7;
    color: rgb(34, 17, 141);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.1s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #d4f7d5;
    transform: translateY(-2px);
}

img:hover {
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}

#clear-storage-button {
    background-color: white;
    color: black;
}
#run-button, #clear-storage-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    box-shadow: 0px 2px 6px hsl(0, 0%, 12%);
    border: none;
}
#trash {
    margin-left: 10px;
}

#clear-storage-button:hover {
    background-color: white;
    
}
#run-button {
    color: #ffffff;
    background-color: hsl(0deg 3.27% 12.58% / 98%);
    backdrop-filter: blur(10px);
}
#trash {
    margin-left: 8px;
    margin-top: 4px;
    width: 18px;
}

.amex-icon {
    display: block;
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
    
    border: 2px solid #ffffff38;
    border-radius: 50%;
  }
  
  .disclaimer {
    font-size: 0.8em;
    color: #444;
    margin-top: 20px;
    text-align: center;
}

.extension-heading {
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right, blue , black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header-points-expense, .header-name {
    color: #556d6b;
  }